:root {
  //container max-Width
  --maxWidthMd: 900px;
  --maxWidthLg: 1185px;
  --maxWidthXl: 1785px;

  //CustomGap
  --gap12: 12px;
  --gap24: 24px;
  --gap36: 36px;

  // grid column width
  --gridMinWidth: 395px;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.pointer-events-none {
  pointer-events: none;
}
