:root {
  //container max-Width
  --maxWidthMd: 900px;
  --maxWidthLg: 1185px;
  --maxWidthXl: 1785px;

  //CustomGap
  --gap12: 12px;
  --gap24: 24px;
  --gap36: 36px;

  /**
   * grid column width
   * min-width値 算出  calc((コンテナmax-widthLg / カラム数:3)
   */
  --gridMinWidth: 320px;
  --gridMinWidthLg: calc(var(--maxWidthLg) / 3);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.pointer-events-none {
  pointer-events: none;
}

//TODO: mixinまたはUtilityClass化するか検討
// .aspectRatio {
//   &__3x2 {
//     aspect-ratio: 3 / 2;
//   }
//   &__1x1 {
//     aspect-ratio: 1 / 1;
//   }
// }

//TODO: mixinまたはUtilityClass化するか検討
// .max-width {
//   &__Md {
//     max-width: $screenMd;
//   }
//   &__lg {
//     max-width: $screenLg;
//   }
//   &__Xl {
//     max-width: $screenXl;
//   }
// }
