/**
 * project
 */

//color
//https://pigment.shapefactory.co/?a=E9E0D5&b=16AFAB
//https://pigment.shapefactory.co/?d=0&s=0&a=E9E0D5&b=16AFAB
$cRicoLight: #57e8d0;
$cRico: #27c4a7;
$cRicoDark1: #08a787;
$cRicoDark2: #07896e;
$cWhite: #ffffff;
$cWhiteDark1: #eaeaea;
$cWhiteDark2: #d5d5d5;
$cWhiteDark3: #bababa;
$cBlack: #000000;

//space
$space: 12px;

//font
$fontSize: 1em;
// $fontFamily: "M PLUS Rounded 1c"; //https://googlefonts.github.io/japanese/#roundedmplus1c
$lineHeight: 1.4;

//border-radius
$radius: 6px;

//BreakPoint
$screenSm: 600px;
$screenMd: 960px;
$screenLg: 1264px;
$screenXl: 1904px;

/****************************************************************************************/

/**
 * vuetify
 */
// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//

// global
$font-size-root: $fontSize;

// VCarousel
@import '~vuetify/src/components/VCarousel/_variables.scss';
$carousel-dot-margin: 0 10px;

// VDialog
@import '~vuetify/src/components/VDialog/_variables.scss';
$dialog-border-radius: 0;
